<div class="home" style="position: fixed; background-color: white;">
  <div>
    <div class="separate"></div>
    <button
      class="btn btn-default btn-circle btn-xl"
      style="background-color: white;"
    >
      <img src="../favicon.ico" />
    </button>
    <div class="name">BOUKIR JAMAL DINE</div>
    <div class="profil">
      Mettez à jour votre profil
    </div>
    <hr />
    <div class="bold marg-5 marg_b_5 gray">
      Vues de votre profil <span class="marg_l-60">{{ nbrPosts }}</span>
    </div>
    <div class="bold marg-5 gray">
      Vues de votre post <span class="marg_l-60">{{ nbrPosts }}</span>
    </div>
    <hr />
    <div class="flex">
      <span class="pad_l-10">Accédez à des infos et des outils exclusifs</span>
      <span class="pad_l-10">Essai de Premium gratuit d’un mois</span>
    </div>
    <p>
      <a href="#"><i class="fas fa-cloud white"></i> Élements enregistrés</a>
    </p>
  </div>

  <div>
    <!--here the bottom division-->
  </div>

</div>
