<div class="aside" id="aside">
	<div class="activity" >Votre fil d’activité 
		<i class="fas fa-info-circle pull-right internet"></i>
	</div>
	<div style="margin-top: 21px;">
		<div style="margin-top: 30px;">
			<img src="../favicon.ico">
			<h5 style="margin-top: -29px; margin-left: 37px; font-weight: bold">JAVA/J2EE</h5>
			<h6 style="margin-top: -10px; margin-left: 37px;color: gray;margin-right: 80px;">Entreprise Technologies</h6>
			
			<button (click)="suivre()" id="suivre" class="btn btn-default" style="border:1px solid red;color: red; font-weight: bold;border-radius: 0px;float: right;margin-top: -40px">
				<i class="fas fa-plus"></i> Suivre
			</button>

		</div>

		<div style="margin-top: 30px;">
			<img src="assets/img/favicon.ico">
			<h5 style="margin-top: -29px; margin-left: 37px; font-weight: bold">FULLSTACK JS</h5>
			<h6 style="margin-top: -10px; margin-left: 37px;color: gray;margin-right: 80px;">Services d'Informations</h6>
			<button class="btn btn-default" style="border:1px solid red;color: red; font-weight: bold;border-radius: 0px;float: right;margin-top: -40px">
				<i class="fas fa-plus"></i> Suivre
			</button>
		</div>

		<div style="margin-top: 30px;">
			<img src="assets/img/favicon.ico">
			<h5 style="margin-top: -29px; margin-left: 37px; font-weight: bold">MEAN STACK</h5>
			<h6 style="margin-top: -10px; margin-left: 37px;color: gray;margin-right: 80px;">
				MongoDB Express Angular Node
			</h6>
			<button  class="btn btn-default" style="border:1px solid red;color: red; font-weight: bold;border-radius: 0px;float: right;margin-top: -40px" >
				<i class="fas fa-plus"></i> Suivre
			</button>
		</div>

		

	</div>

	<div style="margin-left:-10px;margin-right: -10px; margin-top: 40px;text-align: center;">
		<div>
			<img src="assets/img/profile.jpg" class="img-responsive">
		</div>
	</div>
	<div style="margin-left:-10px;margin-right: -10px; margin-top: 40px;text-align: center;">
		<div>Infos Assistance clientèle </div>
		<div>Conditions générales et confidentialité </div>
 		<div>Publicité </div>
		<div>Solutions professionnelles</div>
		<div>Téléchargez l’application Blog</div>
 		<div>Plus</div>
 		<div>Blog Corporation © 2019</div>
	</div>
</div>