.flex {
    display: flex;
    align-items: center;
    margin-left: 265px;
    margin-right: 100px;
}
.border{
    border: 1px solid whitesmoke;
}
.search {
    margin-left: 15px;
}
.size_search {
    width: 370px;
    height: 50px;
}