<nav class="navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="flex">
      <div class="navbar-header border">
        <a class="navbar-brand" routerLink="posts">
          <i class="fab fa-bootstrap"></i>
        </a>
      </div>
      <div class="search">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2 size_search"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>
      <span class="">
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-home"></i>
            <div>Acceueil</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-map-marked-alt"></i>
            <div>Réseau</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-briefcase"></i>
            <div>Emploi</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-comment-alt"></i>
            <div>Messagerie</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-bell"></i>
            <div>Notifications</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-user"></i>
            <div>Vous</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <i class="fas fa-bullseye"></i>
            <div>Produits</div>
          </a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand flex_col" routerLink="posts">
            <div>Premium</div>
          </a>
        </div>
      </span>
      <!--<div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="new">
              <span class="addPost"></span>
              <i class="fas fa-home"></i>
              <div>nouveau</div>
            </a>
          </li>
        </ul>
      </div>-->
    </div>
  </div>
</nav>
