
<div [ngClass]="{'list-group-item': true}" class="fragment">
	<div class="row">
		<div class="col-xs-1">
			<button class="btn btn-default btn-circle btn-xl" style="background-color: white">
				<img src="../favicon.ico">
			</button>
		</div>

		<div class="col-xs-11">
			<div class="name"> BOUKIR Jamal Dine</div>
			<div class="profession"> Dévellopeur FullStack MEAN - Consultant chez Alten Maroc</div>
			<div class="date"> 5 min</div>
		</div>
	</div>

	<li >
	    <div [ngClass]="{'list-group-item': true,
	                'list-group-item-success': loveIts > 0,
	                'list-group-item-danger': loveIts < 0 }" class="mesPosts">
		    <a style="text-decoration:none" [routerLink]="[id]">

				<h3 style="font-family:emoji;color:black">{{title | uppercase}} n°: {{id}}
					<span class="pull-right dateCreation">{{created_at | date: 'short'}}</span>
				
				</h3>
				<p>
					{{content}}
				</p>
			</a>

			<button class="btn btn-danger pull-right" (click)="onDeletePost(id)">supprimer</button>
		</div>
		<div [ngClass]="{'list-group-item': true}" class='comment'>
			<div class="row">
				<div class="col-xs-2">
					<button class="btn btn-circle" style="background-color: white" (click)="onLove(id)" >
						<i class="fas fa-thumbs-up"> <span class="spanComment"> j'aime</span></i>
					</button>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-circle" style="background-color: white" (click)="onDontLove(id)" >
						<i class="fas fa-thumbs-down"> <span class="spanComment"> j'aime pas</span></i>
					</button>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-circle" style="background-color: white">
						<i class="fas fa-comment-medical"> <span class="spanComment"> Commenter</span></i>
					</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-circle pull-right" style="background-color: white">
						<i class="fas fa-share-square"> <span class="spanComment"> Partager</span></i>
					</button>
				</div>
				
			</div>
		</div>
	</li>
</div>
<p></p>