<div [ngClass]="{ 'list-group-item': true }" class="fragment">
  <div class="row">
    <div class="col-xs-1">
      <button
        class="btn btn-default btn-circle btn-xl"
        style="background-color: white;"
      >
        <img src="../favicon.ico" />
      </button>
    </div>

    <div class="col-xs-11 flex">
      <div class="first_item">
        <div class="flex_col">
          <div class="name">BOUKIR Jamal Dine</div>
          <div class="profession flex">
            Dévellopeur FullStack MEAN - Consultant chez Alten Maroc
          </div>
          <div class="date">5 min</div>
        </div>
      </div>
      <div class="actions second_item">
        <i class="fa fa-ellipsis-v"></i>
        <!--
        <button class="btn btn-danger pull-right" (click)="onDeletePost(id)">
          supprimer
        </button>
      --></div>
    </div>
  </div>

  <li>
    <div [ngClass]="{ 'list-group-item': true }" class="mesPosts">
      <a style="text-decoration: none;" [routerLink]="[id]">
        <h3 style="font-family: emoji; color: black;">
          {{ title | uppercase }} n°: {{ id }}
          <span class="pull-right dateCreation">{{
            created_at | date: "short"
          }}</span>
        </h3>
        <p>
          {{ content }}
        </p>
      </a>
    </div>
    <div class="tag_love">
      {{ tagLove() }} <span><i class="fa fa-heart"></i></span>
    </div>
    <hr />
    <div [ngClass]="{ 'list-group-item': true }" class="comment">
      <div class="row">
        <div class="col-xs-2">
          <i class="fas fa-thumbs-up pointer" (click)="onLove(id)">
            <span class="spanComment"> J'aime</span></i
          >
        </div>
        <!--div class="col-xs-3">
					<button class="btn btn-circle" style="background-color: white" (click)="onDontLove(id)" >
						<i class="fas fa-thumbs-down"> <span class="spanComment"> j'aime pas</span></i>
					</button>
        </div-->
        <div class="col-xs-3">
          <i class="fas fa-comment-medical">
            <span class="spanComment"> Commenter</span></i
          >
        </div>
        <div class="col-xs-3">
          <i class="fas fa-share-square">
            <span class="spanComment"> Partager</span></i
          >
        </div>
      </div>
    </div>
  </li>
</div>
<p></p>
